---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import Card from '../components/Card.astro';
const allPosts = await Astro.glob('./posts/*.md');
---

<Layout title="k3vin's Site">
	<main>
		
		<body>
		<NavBar></NavBar>
		<h1>k3vin's Site</h1>

		<p>This is where I will post about my journey as a computer science student.</p>
		
		{allPosts.map((post) => (
			<Card title={post.frontmatter.title} body={post.frontmatter.description} href={post.url ?? '#'} date={post.frontmatter.date} author=": Made By Kevin">
				<a href={post.url}>{post.frontmatter.title}</a>
			</Card>
	
		))}
		

	</main>
</body>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
